# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.EmployeesWork.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\letih\RiderProjects\EmployeesWork\.idea\.idea.EmployeesWork\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
